version: "3.6"

services:
  stream:
    image: pkill/twitch-audio
    ports:
      - "8000:80"
    volumes: # Not necessary
      - "./dump:/usr/share/nginx/html"
    environment:
      - "STREAM_URL=https://www.twitch.tv/maty"
